@page
@model IntacoWebDemoForm.Pages.Persons.ValidationModel
@{
    ViewData["Title"] = "Validation";
}

<h1 class="text-center" >Za chwilę na podany adres e-mail zostanie wysłane mail, który prowadzi do dalszej części weryfikacji.</h1>

